html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.pageContainer {
    width: 80%;
    margin: 0px auto;
    position: relative;
}

#pt{
    position: fixed;
    width: 100%;
}
#canvasElem {
    width: 100%;
    height: 300px;
    margin: 0px auto;
    display: block;
}

#projectDescription {
    padding-top: 250px;
}